body {
  margin: 0;
  min-width: 320px; }
  body #app .container {
    max-width: 1440px;
    display: block;
    margin: 0 auto; }
    body #app .container.grayheader #main_header {
      opacity: 0.2 !important; }
    body #app .container .content:not(.book) {
      height: 465px; }
    body #app .container .content {
      display: table;
      margin: 0 auto;
      position: relative;
      margin-top: -47px;
      padding: 0 40px 120px;
      transition: opacity .05s linear; }
      @media only screen and (max-width: 1124px) {
        body #app .container .content {
          margin-top: 30px; } }
      @media only screen and (max-width: 809px) {
        body #app .container .content {
          margin-top: 40px;
          width: 280px; } }
      @media only screen and (max-width: 399px) {
        body #app .container .content {
          padding: 0 20px 120px; } }

h2 {
  font-family: Lato;
  font-size: 28px;
  font-weight: 900;
  line-height: 32px; }

h3 {
  font-family: Lato;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 25px; }

h5 {
  margin-top: 0;
  font-family: Lato;
  font-size: 10px;
  color: #bbb;
  font-weight: 900;
  margin-bottom: 5px;
  text-transform: uppercase; }

p {
  font-family: Poly;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 20px; }

a {
  text-decoration: none; }

img {
  vertical-align: bottom; }

header {
  position: relative;
  max-width: 1440px;
  width: 100%;
  min-width: 320px;
  top: 0;
  opacity: 0;
  transition: opacity .5s linear; }
  @media only screen and (min-width: 810px) {
    header {
      height: 127px; } }
  @media only screen and (max-width: 809px) {
    header {
      height: 72px; } }
  header .logo {
    display: inline-block;
    margin: 25px 0 0 30px; }
    @media only screen and (max-width: 809px) {
      header .logo {
        margin: 16px 0 0 17px; } }
    header .logo img {
      width: 114px; }
      @media only screen and (max-width: 809px) {
        header .logo img {
          width: 60px; } }
  header nav {
    float: right;
    margin: 20px 50px 0 0; }
    @media only screen and (max-width: 809px) {
      header nav {
        margin: 16px 14px 0 0; } }
    header nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      font-size: 0; }
      header nav ul li {
        display: inline-block;
        margin-left: 14px; }
        @media only screen and (max-width: 479px) {
          header nav ul li {
            margin-left: 10px; } }
        header nav ul li a {
          font-family: Lato;
          color: black;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 900;
          font-size: 12px; }
          @media only screen and (max-width: 479px) {
            header nav ul li a {
              font-size: 10px; } }
      header nav ul li:first-child {
        margin-left: 0; }
      header nav ul .fa:before {
        vertical-align: middle; }
      header nav ul .social-first {
        margin-left: 20px; }
        @media only screen and (max-width: 479px) {
          header nav ul .social-first {
            margin-left: 16px; } }

.grid-two {
  box-sizing: border-box;
  padding: 0 40px;
  max-width: 50%;
  width: 365px;
  display: table-cell;
  vertical-align: top;
  border-left: 4px solid #e9e8e8;
  position: relative; }
  @media only screen and (max-width: 809px) {
    .grid-two {
      height: 465px;
      display: inherit;
      padding: 0 0 0 30px !important;
      max-width: 100%;
      width: 294px; } }
  @media only screen and (max-width: 400px) {
    .grid-two {
      width: 280px; } }
  .grid-two #content-left, .grid-two #content-right {
    opacity: 0;
    transition: opacity .25s linear; }
  .grid-two p.section-title {
    font-family: Lato;
    font-size: 13px;
    color: black;
    font-weight: 900;
    margin: 0;
    margin-bottom: 30px; }
  @media only screen and (max-width: 809px) {
    .grid-two.blog-left {
      padding: 0 40px 25px;
      margin-bottom: 40px; } }
  .grid-two.index-home-left {
    padding: 0 100px 0 40px; }
    @media only screen and (max-width: 809px) {
      .grid-two.index-home-left {
        padding: 0 30px !important;
        margin-bottom: 40px; } }
    .grid-two.index-home-left .section-title {
      margin-bottom: 0;
      display: inline-block;
      line-height: 18px; }
    .grid-two.index-home-left #content-left {
      display: inline-block;
      width: 100%; }
      .grid-two.index-home-left #content-left .featured {
        text-align: center;
        display: inline-block;
        width: 100%; }
        .grid-two.index-home-left #content-left .featured .featured-image {
          height: 320px;
          margin-top: 25px;
          position: relative; }
          .grid-two.index-home-left #content-left .featured .featured-image img {
            width: auto;
            max-width: 100%;
            max-height: 320px;
            vertical-align: bottom;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto; }
        .grid-two.index-home-left #content-left .featured .featured-details {
          display: inline-block;
          height: 98px;
          width: 100%;
          position: relative; }
          .grid-two.index-home-left #content-left .featured .featured-details div {
            position: relative;
            top: 48%;
            transform: translateY(-50%);
            margin-left: -20px;
            margin-right: -20px; }
            @media only screen and (max-width: 809px) {
              .grid-two.index-home-left #content-left .featured .featured-details div {
                margin-left: -10px;
                margin-right: -10px; } }
            .grid-two.index-home-left #content-left .featured .featured-details div a {
              display: block;
              text-decoration: none; }
              .grid-two.index-home-left #content-left .featured .featured-details div a h3 {
                font-family: Lato;
                font-size: 18px;
                color: black;
                font-weight: 900;
                margin-bottom: 7px;
                margin-top: 0;
                line-height: 22px; }
              .grid-two.index-home-left #content-left .featured .featured-details div a p {
                font-family: Lato;
                font-size: 10px;
                color: #bbb;
                font-weight: 900;
                margin-bottom: 0;
                text-transform: uppercase;
                line-height: 15px; }
  .grid-two.index-home-left:before {
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    width: 75%;
    border-bottom: 4px solid #e9e8e8; }
    @media only screen and (max-width: 809px) {
      .grid-two.index-home-left:before {
        width: 95%; } }
  .grid-two:not(.index-home-left) #content-left .posts .post, .grid-two:not(.index-home-left) #content-right .posts .post {
    margin-bottom: 33px; }
    .grid-two:not(.index-home-left) #content-left .posts .post:last-child, .grid-two:not(.index-home-left) #content-right .posts .post:last-child {
      margin-bottom: 0; }
    .grid-two:not(.index-home-left) #content-left .posts .post a, .grid-two:not(.index-home-left) #content-right .posts .post a {
      text-decoration: none; }
      .grid-two:not(.index-home-left) #content-left .posts .post a h3, .grid-two:not(.index-home-left) #content-right .posts .post a h3 {
        font-family: Lato;
        font-size: 18px;
        color: black;
        font-weight: 900;
        margin-top: 0;
        margin-bottom: 5px; }
    .grid-two:not(.index-home-left) #content-left .posts .post .author, .grid-two:not(.index-home-left) #content-right .posts .post .author {
      font-family: Lato;
      font-size: 10px;
      color: #bbb;
      font-weight: 900;
      margin: 0;
      text-transform: uppercase; }
    .grid-two:not(.index-home-left) #content-left .posts .post .date, .grid-two:not(.index-home-left) #content-right .posts .post .date {
      font-family: Poly;
      font-size: 13px;
      color: black;
      font-weight: 400;
      margin-top: 2px;
      margin-bottom: 0; }
  .grid-two.blog-right {
    padding-top: 48px; }
    .grid-two.blog-right.blog-right-hidden {
      padding: 0 !important;
      height: 0 !important;
      display: block; }
    @media only screen and (max-width: 809px) {
      .grid-two.blog-right {
        padding: 48px 0 0 30px !important; } }

.nav {
  position: absolute;
  right: 0;
  bottom: -60px; }
  .nav .nav-item .nav-link {
    font-family: Lato;
    font-size: 10px;
    font-weight: 900;
    color: #bbb;
    text-transform: uppercase;
    text-decoration: none; }
    .nav .nav-item .nav-link.more {
      padding-right: 45px;
      position: relative;
      margin-right: 60px; }
      .nav .nav-item .nav-link.more:after {
        content: '';
        width: 36px;
        height: 11px;
        display: block;
        background: url(img/more_2.png);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        right: 0px;
        bottom: 0; }

.page {
  width: 810px;
  margin: 0 auto;
  position: relative;
  margin-top: -47px;
  padding: 0 40px 120px;
  transition: opacity .05s linear;
  box-sizing: border-box; }
  @media only screen and (max-width: 1124px) {
    .page {
      margin-top: 30px; } }
  @media only screen and (max-width: 809px) {
    .page {
      margin-top: 25px;
      width: 100% !important; } }
  @media only screen and (max-width: 399px) {
    .page {
      padding: 0 20px 120px; } }
  .page > div {
    padding: 40px 50px;
    border-left: 4px solid #e9e8e8;
    display: inline-block;
    max-width: 630px;
    width: 100% !important;
    box-sizing: border-box; }
    @media only screen and (max-width: 809px) {
      .page > div {
        padding: 30px 30px; } }
    .page > div .page-contact {
      font-family: Lato;
      font-size: 10px;
      color: #bbb;
      font-weight: 900;
      text-transform: uppercase;
      text-decoration: none; }

@media only screen and (max-width: 809px) {
  .book {
    margin-top: 40px !important; } }

.book > div {
  margin: 0 auto; }

.book .book-nav {
  text-align: center;
  margin-top: 40px; }
  .book .book-nav .next {
    width: 36px;
    height: 11px;
    display: inline-block;
    margin: 0 12px; }
    .book .book-nav .next:after {
      content: '';
      width: 36px;
      height: 11px;
      display: block;
      background: url(img/more_2.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute; }
  .book .book-nav .prev {
    width: 36px;
    height: 11px;
    display: inline-block;
    margin: 0 12px; }
    .book .book-nav .prev:after {
      content: '';
      width: 36px;
      height: 11px;
      display: block;
      background: url(img/more_2.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      -ms-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg); }

.book.cover {
  opacity: 0;
  transition: opacity .25s linear; }
  @media only screen and (max-width: 479px) {
    .book.cover {
      padding: 0 20px !important; } }
  .book.cover > div:first-child {
    width: 400px;
    box-sizing: border-box;
    border-left: 4px solid #e9e8e8;
    border-bottom: 4px solid #e9e8e8;
    border-bottom-width: 93%;
    position: relative; }
    @media only screen and (max-width: 479px) {
      .book.cover > div:first-child {
        width: 280px; } }
    .book.cover > div:first-child > .img-wrapper {
      height: 391px;
      position: relative; }
      @media only screen and (max-width: 479px) {
        .book.cover > div:first-child > .img-wrapper {
          height: 310px; } }
      .book.cover > div:first-child > .img-wrapper img {
        padding: 0 60px;
        width: 100%;
        vertical-align: bottom;
        box-sizing: border-box;
        position: absolute;
        bottom: 0; }
        @media only screen and (max-width: 479px) {
          .book.cover > div:first-child > .img-wrapper img {
            padding: 0 30px; } }
    .book.cover > div:first-child .title-wrapper {
      position: relative;
      height: 120px; }
      @media only screen and (max-width: 479px) {
        .book.cover > div:first-child .title-wrapper {
          height: 90px; } }
      .book.cover > div:first-child .title-wrapper h2 {
        top: 42%;
        transform: translateY(-50%);
        position: relative;
        width: 100%;
        box-sizing: border-box;
        padding: 0 40px;
        text-align: center;
        margin: 0; }
        @media only screen and (max-width: 479px) {
          .book.cover > div:first-child .title-wrapper h2 {
            font-size: 18px;
            line-height: 24px;
            padding: 0 30px; } }

.book.title {
  width: 730px;
  margin: 0 auto;
  position: relative;
  padding: 0 40px 120px;
  transition: opacity .05s linear;
  box-sizing: content-box; }
  @media only screen and (max-width: 1124px) {
    .book.title {
      margin-top: 30px; } }
  @media only screen and (max-width: 809px) {
    .book.title {
      width: 400px !important; } }
  @media only screen and (max-width: 479px) {
    .book.title {
      padding: 0 20px 120px !important;
      width: 280px !important; } }
  .book.title > div:first-child {
    height: 515px;
    border-left: 4px solid #e9e8e8;
    border-bottom: 4px solid #e9e8e8;
    display: table;
    width: 100% !important;
    position: relative;
    box-sizing: border-box; }
    @media only screen and (max-width: 809px) {
      .book.title > div:first-child {
        padding: 30px 30px;
        box-sizing: border-box; } }
    @media only screen and (max-width: 479px) {
      .book.title > div:first-child {
        height: 400px; } }
    .book.title > div:first-child .book-grid-two {
      box-sizing: border-box;
      max-width: 50%;
      display: table-cell;
      vertical-align: top;
      position: relative;
      vertical-align: middle; }
      @media only screen and (min-width: 480px) and (max-width: 809px) {
        .book.title > div:first-child .book-grid-two {
          padding-left: 15px; } }
      @media only screen and (max-width: 479px) {
        .book.title > div:first-child .book-grid-two {
          height: 340px; } }
      .book.title > div:first-child .book-grid-two:first-child {
        width: 361px; }
        @media only screen and (max-width: 809px) {
          .book.title > div:first-child .book-grid-two:first-child {
            display: none; } }
      .book.title > div:first-child .book-grid-two:last-child {
        width: 365px; }
      @media only screen and (min-width: 810px) {
        .book.title > div:first-child .book-grid-two:last-child:before {
          content: '';
          border-left: 4px solid #e9e8e8;
          position: absolute;
          height: 50%;
          top: 50%;
          transform: translateY(-50%); } }
      .book.title > div:first-child .book-grid-two:last-child div {
        height: 258px;
        padding: 45px 10px 10px 45px;
        box-sizing: border-box; }
        @media only screen and (max-width: 809px) {
          .book.title > div:first-child .book-grid-two:last-child div {
            padding: 0 !important;
            border-left: none !important;
            display: table-cell;
            vertical-align: middle; } }
        .book.title > div:first-child .book-grid-two:last-child div .author-title {
          font-family: Lato;
          font-size: 10px;
          color: #bbb;
          font-weight: 900;
          margin-bottom: 4px;
          text-transform: uppercase; }
        .book.title > div:first-child .book-grid-two:last-child div .author-name {
          font-family: Poly;
          font-size: 16px;
          font-style: italic;
          font-weight: 400;
          margin-bottom: 40px; }
        .book.title > div:first-child .book-grid-two:last-child div .book-title {
          font-family: Lato;
          font-size: 28px;
          color: black;
          font-weight: 900;
          margin-bottom: 30px; }

.book.regular {
  width: 730px;
  margin: 0 auto;
  position: relative;
  padding: 0 40px 120px;
  transition: opacity .05s linear;
  box-sizing: content-box; }
  @media only screen and (max-width: 1124px) {
    .book.regular {
      margin-top: 30px; } }
  @media only screen and (max-width: 809px) {
    .book.regular {
      width: 400px !important; } }
  @media only screen and (max-width: 479px) {
    .book.regular {
      padding: 0 20px 120px !important;
      width: 280px !important; } }
  .book.regular > div:first-child {
    border-left: 4px solid #e9e8e8;
    border-bottom: 4px solid #e9e8e8; }
    @media only screen and (max-width: 809px) {
      .book.regular > div:first-child {
        border-left: none !important; } }
  .book.regular > div:not(:last-child) {
    display: table;
    width: 100% !important;
    position: relative;
    box-sizing: border-box; }
    @media only screen and (min-width: 810px) {
      .book.regular > div:not(:last-child) {
        height: 515px; } }
    @media only screen and (max-width: 809px) {
      .book.regular > div:not(:last-child) {
        padding: 0; } }
    @media only screen and (max-width: 809px) {
      .book.regular > div:not(:last-child) .book-grid-two.blank + .book-grid-two {
        margin-top: 0; } }
    .book.regular > div:not(:last-child) .book-grid-two {
      box-sizing: border-box;
      max-width: 50%;
      display: table-cell;
      vertical-align: middle;
      position: relative; }
      .book.regular > div:not(:last-child) .book-grid-two:first-child {
        width: 361px; }
      .book.regular > div:not(:last-child) .book-grid-two:last-child {
        width: 365px; }
        @media only screen and (min-width: 810px) {
          .book.regular > div:not(:last-child) .book-grid-two:last-child {
            padding-left: 4px; } }
        @media only screen and (max-width: 809px) {
          .book.regular > div:not(:last-child) .book-grid-two:last-child {
            margin-top: 40px;
            height: 511px; }
            .book.regular > div:not(:last-child) .book-grid-two:last-child > div {
              height: 511px; } }
        @media only screen and (max-width: 479px) {
          .book.regular > div:not(:last-child) .book-grid-two:last-child {
            height: 400px; }
            .book.regular > div:not(:last-child) .book-grid-two:last-child > div {
              height: 400px; } }
      .book.regular > div:not(:last-child) .book-grid-two.bottom {
        vertical-align: bottom; }
      .book.regular > div:not(:last-child) .book-grid-two.top {
        vertical-align: top; }
      .book.regular > div:not(:last-child) .book-grid-two.left > div {
        float: left; }
      .book.regular > div:not(:last-child) .book-grid-two.right > div {
        float: right; }
      .book.regular > div:not(:last-child) .book-grid-two.top-left {
        vertical-align: top; }
        .book.regular > div:not(:last-child) .book-grid-two.top-left > div {
          float: left; }
      .book.regular > div:not(:last-child) .book-grid-two.top-right {
        vertical-align: top; }
        .book.regular > div:not(:last-child) .book-grid-two.top-right > div {
          float: right; }
      .book.regular > div:not(:last-child) .book-grid-two.bottom-left {
        vertical-align: bottom; }
        .book.regular > div:not(:last-child) .book-grid-two.bottom-left > div {
          float: left; }
      .book.regular > div:not(:last-child) .book-grid-two.bottom-right {
        vertical-align: bottom; }
        .book.regular > div:not(:last-child) .book-grid-two.bottom-right > div {
          float: right; }
      @media only screen and (min-width: 480px) {
        .book.regular > div:not(:last-child) .book-grid-two.quote > div > div {
          padding-right: 110px; } }
      .book.regular > div:not(:last-child) .book-grid-two.quote > div > div .quote-text, .book.regular > div:not(:last-child) .book-grid-two.quote > div > div .quote-text p {
        font-size: 16px;
        font-family: Poly;
        font-style: italic;
        line-height: 20px;
        margin-bottom: 20px; }
      .book.regular > div:not(:last-child) .book-grid-two.quote > div > div .quote-author {
        font-size: 13px;
        font-family: Lato;
        font-weight: 900;
        line-height: 18px; }
      .book.regular > div:not(:last-child) .book-grid-two.quote > div > div .quote-source {
        font-size: 13px;
        font-family: Lato;
        font-style: italic;
        font-weight: 900;
        line-height: 18px; }
      .book.regular > div:not(:last-child) .book-grid-two.double {
        height: 511px;
        width: 361px; }
        .book.regular > div:not(:last-child) .book-grid-two.double > div {
          height: inherit;
          width: inherit; }
          .book.regular > div:not(:last-child) .book-grid-two.double > div > div {
            height: inherit;
            width: inherit;
            padding: 0; }
            .book.regular > div:not(:last-child) .book-grid-two.double > div > div > div {
              height: 50%;
              width: inherit;
              text-align: center;
              display: table;
              vertical-align: middle; }
              .book.regular > div:not(:last-child) .book-grid-two.double > div > div > div > div {
                display: table-cell;
                vertical-align: middle; }
            .book.regular > div:not(:last-child) .book-grid-two.double > div > div .small img {
              max-width: 180px;
              max-height: 180px; }
            .book.regular > div:not(:last-child) .book-grid-two.double > div > div .medium img {
              max-width: 310px;
              max-height: 205px; }
            .book.regular > div:not(:last-child) .book-grid-two.double > div > div .full img {
              max-width: 361px;
              max-height: 255.5px; }
      @media only screen and (max-width: 809px) {
        .book.regular > div:not(:last-child) .book-grid-two.blank {
          display: none; } }
      @media only screen and (max-width: 479px) {
        .book.regular > div:not(:last-child) .book-grid-two {
          height: 400px !important; }
          .book.regular > div:not(:last-child) .book-grid-two > div {
            height: 400px !important; } }
      @media only screen and (max-width: 809px) {
        .book.regular > div:not(:last-child) .book-grid-two {
          border-left: 4px solid #e9e8e8;
          padding-left: 15px;
          display: block;
          max-width: none;
          width: 100% !important;
          padding-left: 0;
          height: 511px; } }
      @media only screen and (min-width: 810px) {
        .book.regular > div:not(:last-child) .book-grid-two.sep:before {
          content: '';
          border-left: 4px solid #e9e8e8;
          position: absolute;
          height: 50%;
          top: 50%;
          transform: translateY(-50%);
          left: 0; } }
      .book.regular > div:not(:last-child) .book-grid-two > div {
        display: table; }
        @media only screen and (max-width: 479px) {
          .book.regular > div:not(:last-child) .book-grid-two > div {
            height: 400px; } }
        @media only screen and (max-width: 809px) {
          .book.regular > div:not(:last-child) .book-grid-two > div {
            height: 511px; } }
        .book.regular > div:not(:last-child) .book-grid-two > div > div {
          padding: 40px;
          display: table-cell;
          vertical-align: middle; }
          .book.regular > div:not(:last-child) .book-grid-two > div > div p {
            margin-bottom: 2px;
            line-height: 21px; }
          .book.regular > div:not(:last-child) .book-grid-two > div > div :last-child {
            margin-bottom: 0; }
      .book.regular > div:not(:last-child) .book-grid-two .content-left > div, .book.regular > div:not(:last-child) .book-grid-two .content-right > div {
        padding: 40px; }
        @media only screen and (max-width: 479px) {
          .book.regular > div:not(:last-child) .book-grid-two .content-left > div, .book.regular > div:not(:last-child) .book-grid-two .content-right > div {
            padding: 25px; } }
      .book.regular > div:not(:last-child) .book-grid-two .content-image {
        margin: 0 auto;
        position: relative; }
        .book.regular > div:not(:last-child) .book-grid-two .content-image div {
          padding: 0 !important; }
        .book.regular > div:not(:last-child) .book-grid-two .content-image.small div img {
          max-width: 230px;
          max-height: 230px; }
          @media only screen and (max-width: 479px) {
            .book.regular > div:not(:last-child) .book-grid-two .content-image.small div img {
              max-width: 180px;
              max-height: 180px; } }
        .book.regular > div:not(:last-child) .book-grid-two .content-image.medium div img {
          max-width: 281px;
          max-height: 431px; }
          @media only screen and (max-width: 479px) {
            .book.regular > div:not(:last-child) .book-grid-two .content-image.medium div img {
              max-width: 216px;
              max-height: 340px; } }
        .book.regular > div:not(:last-child) .book-grid-two .content-image.large div img {
          max-width: 321px;
          max-height: 471px; }
          @media only screen and (max-width: 479px) {
            .book.regular > div:not(:last-child) .book-grid-two .content-image.large div img {
              max-width: 236px;
              max-height: 360px; } }
        .book.regular > div:not(:last-child) .book-grid-two .content-image.full div img {
          max-width: 100%;
          max-height: 511px; }
          @media only screen and (max-width: 479px) {
            .book.regular > div:not(:last-child) .book-grid-two .content-image.full div img {
              max-width: 100%;
              max-height: 400px; } }

.book.fullimage div {
  text-align: center;
  height: auto !important; }
  .book.fullimage div img {
    max-width: 726px;
    max-height: 511px;
    max-width: 100%; }

.book.lastpage {
  width: 365px;
  margin: 0 auto;
  position: relative;
  padding: 0 40px 120px;
  transition: opacity .05s linear;
  box-sizing: content-box; }
  @media only screen and (max-width: 1124px) {
    .book.lastpage {
      margin-top: 30px; } }
  @media only screen and (max-width: 809px) {
    .book.lastpage {
      width: 400px !important; } }
  @media only screen and (max-width: 479px) {
    .book.lastpage {
      padding: 0 20px 120px !important;
      width: 280px !important; } }
  .book.lastpage > div:first-child {
    border-left: 4px solid #e9e8e8;
    border-bottom: 4px solid #e9e8e8;
    height: 515px;
    display: table;
    width: 100% !important;
    position: relative;
    box-sizing: border-box; }
    @media only screen and (max-width: 809px) {
      .book.lastpage > div:first-child {
        padding: 30px 30px; } }
    @media only screen and (max-width: 479px) {
      .book.lastpage > div:first-child {
        height: 404px; } }
    .book.lastpage > div:first-child > div {
      display: table-cell;
      vertical-align: middle;
      padding: 40px;
      text-align: center; }
      .book.lastpage > div:first-child > div p {
        font-size: 16px;
        font-family: Poly;
        font-style: italic; }
    .book.lastpage > div:first-child > a {
      position: absolute;
      bottom: 40px;
      left: 0;
      right: 0;
      text-align: center; }
