$black: #000;
$white: #fff;
$gray: #bbb;

$small-end: 479px;
$medium-start: 480px;
$medium-end: 767px;
$large-start: 768px;
$large-end: 1023px;
$x-large-start: 1024px;

html {
	height: 100%;
	width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
	-webkit-text-size-adjust: 100%;
	body {
		height: 100%;
		margin: 0;
		*, *:focus, *:active {
			outline: none;
		}
		.post-edit-link {
			position: fixed;
			margin: auto;
			text-align: right;
			bottom: 0;
			right: 0;
			padding: 10px;
			font-family: Lato;
			font-weight: bold;
			font-size: 12px;
			color: $white;
			background-color: $black;
			@media only screen and (max-width: $x-large-start) {
				display: none;
			}
		}
		#app {
			height: 100%;
			min-height: 320px;
			min-width: 320px;
			.container {
				max-width: 1440px;
				display: block;
				margin: 0 auto;
				min-width: 1024px;
				&.grayheader {
					#main_header {
						opacity: .2!important;
					}
				}
				&.tablet {
					min-width: 768px;
				}
				.content:not(.book) {
					height: 465px;
					/*
					@media only screen and (max-width: 809px) {
						margin-top: 40px;
						width: 280px;
					}
					@media only screen and (max-width: 399px) {
						padding: 0 20px 120px;
					}
					*/
				}
				.content {
					display: table;
					margin: 0 auto;
					position: relative;
					margin-top: -47px;
					//padding-bottom: 120px;
					transition: opacity .05s linear;
					@media only screen and (max-width: 1124px) {
						margin-top: 30px;
					}
				}
			}
		}
	}
}

h2 {
	font-family: Lato;
	font-size: 28px;
	font-weight: 900;
	line-height: 32px;
}

h3 {
	font-family: Lato;
	font-size: 18px;
	font-weight: 900;
	line-height: 24px;
	margin-top: 0;
	margin-bottom: 25px;
}

h5 {
	margin-top: 0;
	font-family: Lato;
	font-size: 10px;
	color: $gray;
	font-weight: 900;
	margin-bottom: 5px;
	text-transform: uppercase;
}

h6 {
	font-size: 13px;
	line-height: 17px;
	font-family: Lato;
	font-weight: 900;
	margin: 0 0 8px 0;
}

p {
	font-family: Poly;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	margin-top: 0;
	margin-bottom: 20px;
}

a {
	text-decoration: none;
}

img {
	vertical-align: bottom;
}

* {
	white-space: normal;
}

.mobile {
	h2, h3, h4, h6 {
		font-weight: 700!important;
	}
	&.landscape {
		max-width: 170vh!important;
		header {
			height: auto!important;
			z-index: 5!important;
			max-width: 170vh!important;
		}
	}
}

.tablet.portrait {
	#content {
		margin-top: 60px!important;
	}
}