.book {
	> div {
	    margin: 0 auto;
	}
	.book-nav {
		 text-align: center;
		 margin-top: 33px;
		.next {
			width: 36px;
		    height: 11px;
		    display: inline-block;
		    margin: 0;
		    padding: 10px 12px;
		    &:after {
				content: '';
				width: 36px;
				height: 11px;
				display: block;
				background: url('./../../img/more.png');
				background-repeat: no-repeat;
				background-size: contain;
				position: absolute;
			}
		}
		.prev {
			width: 36px;
		    height: 11px;
		    display: inline-block;
		    margin: 0;
		    padding: 10px 12px;
		    &:after {
				content: '';
				width: 36px;
				height: 11px;
				display: block;
				background: url('./../../img/more.png');
				background-repeat: no-repeat;
				background-size: contain;
				position: absolute;
				-ms-transform: rotate(180deg);
				-webkit-transform: rotate(180deg);
				transform: rotate(180deg);
			}
		}
	}	
	&.cover {
		transition: opacity .25s linear;
		@media only screen and (max-width: 479px) {
			padding: 0 20px!important;
		}
		> div:first-child {
			width: 400px;
			box-sizing: border-box;
			border-left: 4px solid #e9e8e8;
			border-bottom: 4px solid #e9e8e8;
			position: relative;
			height: 515px;
			#book {
				opacity: 0;
				transition: opacity .5s linear;
				.img-wrapper {
					height: 391px;
					position: relative;
					padding: 0 60px;
					text-align: center;
					img {
						max-width: 276px;
					    max-height: 391px;
   						vertical-align: bottom;
						box-sizing: border-box;
					}			
				}
				.title-wrapper {
					position: relative;
					height: 120px;
					h2 {
					    top: 42%;
					    transform: translateY(-50%);
						position: relative;
					    width: 100%;
					    box-sizing: border-box;
						padding: 0 40px;
						text-align: center;
						margin: 0;
					}
				}
			}
		}
	}
	&.title {
		width: 730px;
		margin: 0 auto;
		position: relative;
		padding-bottom: 120px;
		transition: opacity .05s linear;
		box-sizing: content-box;
		@media only screen and (max-width: 1124px) {
			margin-top: 30px;
		}
		> div:first-child {
			position: relative;
			border-left: 4px solid #e9e8e8;
			border-bottom: 4px solid #e9e8e8;
			&:before {
				content: '';
				border-left: 4px solid #e9e8e8;
				position: absolute;
				height: 50%;
				top: 50%;
				left: 50%;
				transform: translateY(-50%) translateX(-50%);
			}
			#book {
				opacity: 0;
				transition: opacity .25s linear;
				height: 511px;
				display: table;
				width: 100%!important;
				position: relative;
				box-sizing: border-box;
				//padding: 40px 50px;
				.book-grid-two {
					box-sizing: border-box;
					width: 50%;
					display: table-cell;
					vertical-align: top;
					position: relative;
					vertical-align: middle;
					&:last-child {
						div {
						    height: 258px;
							padding: 45px 10px 10px 45px;
							box-sizing: border-box;
							.author-name {
								font-family: Poly;
								font-size: 16px;
								font-style: italic;
								font-weight: 400;
								margin-bottom: 4px;
							}
							.author-title {
								font-family: Lato;
								font-size: 10px;
								color: #bbb;
								font-weight: 900;
								margin-bottom: 40px;
								text-transform: uppercase;
							}
							.book-title {
								font-family: Lato;
								font-size: 28px;
								color: black;
								font-weight: 900;
								margin-bottom: 30px;
							}
						}
					}
				}
			}
		}
	}
	&.textimages {
		width: 100%;
		margin: 0 auto;
		position: relative;
		padding-bottom: 120px;
		transition: opacity .05s linear;
		box-sizing: content-box;
		@media only screen and (max-width: 1124px) {
			margin-top: 30px;
		}
		> .book-container {
			width: 730px;
		    box-sizing: border-box;
   			border-left: 4px solid #e9e8e8;
			border-bottom: 4px solid #e9e8e8;
			#book {
				width: 100%!important;
				display: table;
				position: relative;
				opacity: 0;
				transition: opacity .5s linear;
				box-sizing: border-box;
				height: 511px;
				.book-grid-two {
					box-sizing: border-box;
					width: 50%;
					display: table-cell;
					vertical-align: middle;
					position: relative;
					&.bottom {
						vertical-align: bottom;
					}
					&.top {
						vertical-align: top;
					}
					&.left {
						> div {
							float: left;
						}
					}
					&.right {
						> div {
							float: right;
						}
					}
					&.top-left {
						vertical-align: top;
						> div {
							float: left;
						}
					}
					&.top-right {
						vertical-align: top;
						> div {
							float: right;
						}
					}
					&.bottom-left {
						vertical-align: bottom;
						> div {
							float: left;
						}
					}
					&.bottom-right {
						vertical-align: bottom;
						> div {
							float: right;
						}
					}
					&.quote {
						> div {
							> div {
								padding-right: 110px;
								.quote-text, .quote-text p {
									font-size: 16px;
									font-family: Poly;
									font-style: italic;
									line-height: 20px;
									margin-bottom: 20px;
								}
								.quote-author {
									font-size: 13px;
									font-family: Lato;
									font-weight: 900;
									line-height: 18px;
								}
								.quote-source {
									font-size: 13px;
									font-family: Lato;
									font-style: italic;
									font-weight: 900;
									line-height: 18px;
								}
							}
						}
					}
					&.single {
						> div {
						    margin: 0 auto;
						    opacity: 1!important;
							// position: relative;
						    &.small {
						    	div {
						    		img {
										max-width: 230px;
										max-height: 230px;
						    		}
						    	}
						    }
						    &.medium {
						    	div {
						    		img {
										max-width: 281px;
										max-height: 431px;
						    		}
						    	}
						    }
						    &.large {
						    	div {
						    		img {
										max-width: 321px;
										max-height: 471px;
						    		}
						    	}
						    }
						    &.full {
						    	div {
						    		img {
									    object-fit: cover;
									    object-position: center;
									    width: 100%;
									    height: 100%;
									    position: absolute;
									    left: 0;
									    top: 0;
									}
						    	}
						    }
							> div {
						    	padding: 0!important;
								img:hover + div {
									transition: opacity .5s linear;
									opacity: 1;
								}
						    	> .captions-left {
									width: 180px;
								    right: 417px;
								    padding-left: 20px;
									@media only screen and (max-width: 1289px) {
										right: 387px;
										width: -moz-calc(100vw/2 - 405px);
										width: -webkit-calc(100vw/2 - 405px);
										width: -o-calc(100vw/2 - 405px);
										width: calc(100vw/2 - 405px);
									}
								}
						    	> .captions-right {
									width: 180px;
								    left: 413px;
								    padding-right: 20px;
									@media only screen and (max-width: 1289px) {
										left: 383px;
										width: -moz-calc(100vw/2 - 405px);
										width: -webkit-calc(100vw/2 - 405px);
										width: -o-calc(100vw/2 - 405px);
										width: calc(100vw/2 - 405px);
									}
								}
						    	> .captions-right, .captions-left {
						    		opacity: 0;
									position: absolute;
								    bottom: -4px;
									@media only screen and (max-width: 1289px) {
										min-width: 107px;
									}
									> div:not(:first-child) {
										margin-top: 20px;
									}
									> div {
									    overflow: hidden;
									    *:last-child {
									    	margin-bottom: 0;
									    }
										h5 {
											margin-bottom: 4px;
										}
										h6 {
											margin-bottom: 6px;
										}
										p {
											font-family: Poly;
											font-style: italic;
											font-size: 13px;
											line-height: 16px;
										}
						    		}
						    	}
						    }
						}
					}
					&.double {
						height: 511px;
						width: 361px;
						> .content-right, .content-left {
							height: 100%;
							width: 100%;
							display: block;
							> div {
								height: 100%;
								width: 100%;
								display: block;
						    	padding: 0!important;
								> div {
								    opacity: 1!important;
									height: 50%;
									width: 100%;
									text-align: center;
									display: table-row;
									vertical-align: middle;
									&:first-child {
										> div {
											> img {
												top: 0;
												bottom: 50%;
												height: 50%;
											}
										}
									}
									&:last-child {
										> div {
											> img {
												top: 50%;
												bottom: 0;
												height: 50%;
											}
										}
									}
									> div {
										display: table-cell;
										vertical-align: middle;
										img:hover + div {
											transition: opacity .5s linear;
											opacity: 1;
										}
								    	.captions-left {
										    right: 417px;
										    padding-left: 20px;
											width: 180px;
											@media only screen and (max-width: 1289px) {
												right: 387px;
												width: -moz-calc(100vw/2 - 405px);
												width: -webkit-calc(100vw/2 - 405px);
												width: -o-calc(100vw/2 - 405px);
												width: calc(100vw/2 - 405px);
											}
										}
								    	.captions-right {
										    left: 413px;
										    padding-right: 20px;
											width: 180px;
											@media only screen and (max-width: 1289px) {
												left: 383px;
												width: -moz-calc(100vw/2 - 405px);
												width: -webkit-calc(100vw/2 - 405px);
												width: -o-calc(100vw/2 - 405px);
												width: calc(100vw/2 - 405px);
											}
										}
								    	.captions-right, .captions-left {
								    		opacity: 0;
											position: absolute;
										    bottom: -4px;
										 	text-align: left;
											@media only screen and (max-width: 1289px) {
												min-width: 107px;
											}
											> div:not(:first-child) {
												margin-top: 20px;
											}
											> div {
											    overflow: hidden;
											    *:last-child {
											    	margin-bottom: 0;
											    }
												h5 {
													margin-bottom: 4px;
												}
												h6 {
													margin-bottom: 6px;
												}
												p {
													font-family: Poly;
													font-style: italic;
													font-size: 13px;
													line-height: 17px;
												}
								    		}
								    	}
									}
								}
								.small {
									img {
										max-width: 180px;
										max-height: 180px;
										position: absolute;
									    left: 0;
									    right: 0;
									    bottom: 0;
									    top: 0;
									    margin: auto;
									}
								}
								.medium {
									img {
										max-width: 310px;
										max-height: 205px;
										position: absolute;
									    left: 0;
									    right: 0;
									    bottom: 0;
									    top: 0;
									    margin: auto;
									}
								}
								.full {
									//position: absolute;
									width: 100%;
									height: 50%;
									img {
									    object-fit: cover;
									    object-position: center;
									    width: 100%;
									    height: 100%;
									    position: absolute;
									    left: 0;
									    top: 0;
									}
								}
							}
						}
					}
					&.fullimage {
						width: 100%;
						text-align: center;
						> .content-left {
							width: 100%;
							> div {
						    	padding: 0!important;
								> img {
									max-width: 726px;
									max-height: 511px;
								}
								img:hover + div {
									transition: opacity .5s linear;
									opacity: 1;
								}
						    	> .captions-left {
									width: 180px;
								    right: 780px;
								    padding-left: 20px;
									@media only screen and (max-width: 1289px) {
										right: 750px;
										width: -moz-calc(100vw/2 - 405px);
										width: -webkit-calc(100vw/2 - 405px);
										width: -o-calc(100vw/2 - 405px);
										width: calc(100vw/2 - 405px);
									}
								}
						    	> .captions-right {
									width: 180px;
								    left: 776px;
								    padding-right: 20px;
									@media only screen and (max-width: 1289px) {
										left: 746px;
										width: -moz-calc(100vw/2 - 405px);
										width: -webkit-calc(100vw/2 - 405px);
										width: -o-calc(100vw/2 - 405px);
										width: calc(100vw/2 - 405px);
									}
								}
						    	> .captions-right, .captions-left {
						    		text-align: left;
						    		opacity: 0;
									position: absolute;
								    bottom: -4px;
									@media only screen and (max-width: 1289px) {
										min-width: 107px;
									}
									> div:not(:first-child) {
										margin-top: 20px;
									}
									> div {
									    overflow: hidden;
									    *:last-child {
									    	margin-bottom: 0;
									    }
										h5 {
											margin-bottom: 4px;
										}
										h6 {
											margin-bottom: 6px;
										}
										p {
											font-family: Poly;
											font-style: italic;
											font-size: 13px;
											line-height: 17px;
										}
						    		}
						    	}
						    }
						}
					}
					> div {
						display: table;
						> div {
							padding: 40px;
							display: table-cell;
							vertical-align: middle;
							p {
								margin-bottom: 2px;
								line-height: 21px;
							}
							:last-child {
								margin-bottom: 0;
							}
						}
					}
					.content-left, .content-right {
	   					> div {
							padding: 40px;
						}
					}
				}
			}
		}
	}
	&.sep {
		> div:first-child {
			position: relative;
			&:before {
				content: '';
				border-left: 4px solid #e9e8e8;
				position: absolute;
				height: 50%;
				top: 50%;
				left: 50%;
				transform: translateY(-50%) translateX(-50%);
			}
		}
	}
	&.lastpage {
		width: 365px;
		margin: 0 auto;
		position: relative;
		padding-bottom: 120px;
		transition: opacity .05s linear;
		box-sizing: content-box;
		@media only screen and (max-width: 1124px) {
			margin-top: 30px;
		}
		> div:first-child {
			border-left: 4px solid #e9e8e8;
			border-bottom: 4px solid #e9e8e8;
			#book {
				height: 511px;
				display: table;
				width: 100%!important;
				position: relative;
				box-sizing: border-box;
				opacity: 0;
				transition: opacity .5s linear;
				> div {
					display: table-cell;
					vertical-align: middle;
					padding: 40px;
					text-align: center;
					p {
						font-size: 16px;
						font-family: Poly;
						font-style: italic;
					}
				}
				> a {
				    position: absolute;
				    bottom: 40px;
				    left: 0;
				    right: 0;
				    text-align: center;
				}
			}
		}
	}
}

.mobile.landscape, .portrait  {
	height: 100%;
    box-sizing: border-box;
	> div {
		height: 100%;
		> .book {
			height: 100%;
			margin-top: 0!important;
			padding: 20px 15px 40px!important;
			box-sizing: border-box;
			&.cover {
				height: 100%;
				display: block!important;
				> div:not(.book-nav) {
					height: 100%;
					width: 40%;
					#book {
						height: 100%;
						.img-wrapper {
							height: 78%!important;
							padding: 0!important;
							img {
								height: 100%;
							    max-width: 100%;
							}
						}
						.title-wrapper {
							height: 22%!important;
							h2 {
								font-size: 2.5vw;
								line-height: 2.8vw;
								top: 45%;
								padding: 0 20px!important;
							}
						}
					}
				}
				.book-nav {
					margin-top: 0;
					height: 40px;
					a {
						margin: 0!important;
					    margin: 0 !important;
					    padding: 14px 12px 15px;
					}
				}
			}
			&.title {
				height: 100%;
				display: block!important;
				//padding-bottom: 0!important;
				width: 100%;
				> div:not(.book-nav) {
					height: 100%;
					box-sizing: border-box;
					width: 65%;
					#book {
						height: 100%!important;
						.book-grid-two {
							> div {
								padding: 0!important;
								height: 50%;
							    display: table-cell;
							    padding-left: 20px!important;
								.author-name {
									font-size: 2vw;
								    margin-bottom: .5vw;
									line-height: 2.7vw;
								}
								.author-title {
								    font-size: 1.4vw;
								    line-height: 2vw;
									margin-bottom: 2.7vw;
								}
								.book-title {
									margin: 0;
									font-size: 2.8vw;
								}
							}
						}
					}
				}
				.book-nav {
					margin-top: 0;
					height: 40px;
					a {
						margin: 0!important;
					    margin: 0 !important;
					    padding: 14px 12px 15px;
					}
				}
			}
			&.textimages {
				height: 100%;
				display: block!important;
				//padding-bottom: 0!important;
				width: 100%;
				.book-container {
					height: 100%;
					box-sizing: border-box;
					width: 65%!important;
					border-left: none;
					border-bottom: none;
					position: relative;
					border-left: 4px solid #e9e8e8;
					border-bottom: 4px solid #e9e8e8;
					#book {
						height: 100%!important;
						margin: 0 auto;
						display: block;
						position: initial;
						.book-grid-two {
							display: inline-block;
							&.fullimage {
								height: 100%;
								width: 100%;
								text-align: center;
								> .content-left {
									width: 100%;
									> div {
								    	padding: 0!important;
										> img {
										    object-fit: cover;
										    object-position: center;
										    width: 100%;
										    height: 100%;
										    position: absolute;
										    left: 0;
   										}
										img:hover + div {
											transition: opacity .5s linear;
											opacity: 1;
										}
										.captions-left {
											padding-right: 4px;
											width: 26.923%;
											right: 100%;
											min-width: 0;
											text-align: left;
											bottom: 0;
											> div {
												padding-right: 10px;
											}
										}
										.captions-right {
											padding-right: 0;
											padding-left: 0;
											width: 26.923%;
											left: 100%;
											min-width: 0;
											text-align: left;
											bottom: 0;
											> div {
												padding-left: 10px;
											}
										}
										> div {
											opacity: 0;
											> div {
												h5 {
													margin-bottom: 2px!important;
													font-size: 8px!important;
												}
												h6 {
													margin-bottom: 1px!important;
													font-size: 11px!important;
													line-height: 14px!important;
												}
												p {
													font-size: 10px!important;
													line-height: 13px!important;
												}
											}
										}
								    }
								}
							}
							&.single {
								//display: table-cell!important;
								height: 100%;
								position: initial;
								> div {
									position: initial!important;
									height: 100%;
									> div {
										height: 100%;
										text-align: center;
										position: initial;
										img {
											max-width: 100%;
											max-height: 100%;
										}
										img:hover + div {
											transition: opacity .5s linear;
											opacity: 1;
										}
										.captions-left {
											padding-left: 0;
											padding-right: 4px;
											width: 26.923%;
											right: 100%;
											min-width: 0;
											text-align: left;
											bottom: 0;
											> div {
												padding-right: 10px;
											}
										}
										.captions-right {
											padding-right: 0;
											padding-left: 0;
											width: 26.923%;
											left: 100%;
											min-width: 0;
											text-align: left;
											bottom: 0;
											> div {
												padding-left: 10px;
											}
										}
										> div {
											opacity: 0;
											> div {
												h5 {
													margin-bottom: 2px!important;
													font-size: 8px!important;
												}
												h6 {
													margin-bottom: 1px!important;
													font-size: 11px!important;
													line-height: 14px!important;
												}
												p {
													font-size: 10px!important;
													line-height: 13px!important;
												}
											}
										}
									}
								}
								.small {
									> div {
										img {
											position: absolute;
											max-width: 30%;
											max-height: 60%;
										}
									}
								}
								.medium {
									> div {
										img {
											position: absolute;
											max-width: 37.5%;
											max-height: 75%;
										}
									}
								}
								.large {
									> div {
										img {
											position: absolute;
											max-width: 45%;
											max-height: 90%;
										}
									}
								}
								.content-right.full {
									display: block;
									width: 100%;
									position: relative;
									> div {
										img {
										    object-fit: cover;
										    object-position: center;
										    width: 50%;
										    height: 100%;
										    position: absolute;
										    left: 50%;
										    top: 0;
										}
									}
								}
								.content-left.full {
									display: block;
									width: 100%;
									position: relative;
									> div {
										img {
										    object-fit: cover;
										    object-position: center;
										    width: 50%;
										    height: 100%;
										    position: absolute;
										    left: 0;
										    top: 0;
										}
									}
								}
								&:first-child {
									&.top-left {
										> div {
											> div {
												img {
													top: 0;
												    left: 0;
												}
											}
										}
									}
									&.top {
										> div {
											> div {
												img {
													top: 0;
												    left: 25%;
												    transform: translate(-50%);
												}
											}
										}
									}
									&.top-right {
										> div {
											> div {
												img {
													top: 0;
												    right: 50%;
												}
											}
										}
									}
									&.left {
										> div {
											> div {
												img {
												    top: 0;
												    bottom: 0;
												    margin-top: auto;
												    margin-bottom: auto;
												}
											}
										}
									}
									&.right {
										> div {
											> div {
												img {
												    top: 0;
												    bottom: 0;
												    right: 50%;
												    margin-top: auto;
												    margin-bottom: auto;
												}
											}
										}
									}
									&.center {
										> div:not(.full) {
											> div {
												img {
												    top: 0;
													bottom: 0;
												    left: 25%;
												    transform: translate(-50%);
												    margin: auto;
												}
											}
										}
									}
									&.bottom-left {
										> div {
											> div {
												img {
												    bottom: 0;
												}
											}
										}
									}
									&.bottom {
										> div {
											> div {
												img {
													bottom: 0;
												    left: 25%;
												    transform: translate(-50%);
												}
											}
										}
									}
									&.bottom-right {
										> div {
											> div {
												img {
													bottom: 0;
												    right: 50%;
												}
											}
										}
									}
								}
								&:last-child {
									&.top-left {
										> div {
											> div {
												img {
													top: 0;
												    left: 50%;
												}
											}
										}
									}
									&.top {
										> div {
											> div {
												img {
													top: 0;
												    left: 75%;
												    transform: translate(-50%);
												}
											}
										}
									}
									&.top-right {
										> div {
											> div {
												img {
													top: 0;
												    right: 0;
												}
											}
										}
									}
									&.left {
										> div {
											> div {
												img {
												    top: 0;
												    bottom: 0;
												    margin-top: auto;
												    margin-bottom: auto;
												    left: 50%;
												}
											}
										}
									}
									&.center {
										> div:not(.full) {
											> div {
												img {
												    top: 0;
													bottom: 0;
												    left: 75%;
												    transform: translate(-50%);
												    margin: auto;
												}
											}
										}
									}
									&.right {
										> div {
											> div {
												img {
												    top: 0;
												    bottom: 0;
												    right: 0;
												    margin-top: auto;
												    margin-bottom: auto;
												}
											}
										}
									}
									&.bottom-left {
										> div {
											> div {
												img {
												    bottom: 0;
												    left: 50%;
												}
											}
										}
									}
									&.bottom {
										> div {
											> div {
												img {
													bottom: 0;
												    left: 75%;
												    transform: translate(-50%);
												}
											}
										}
									}
									&.bottom-right {
										> div {
											> div {
												img {
													bottom: 0;
												    right: 0;
												}
											}
										}
									}
								}
							}
							&.double {
								height: 100%;
								width: 50%;
								position: initial;
								.content-left {
									height: 100%;
									width: 100%;
									display: block;
									> div {
										height: inherit;
										width: inherit;
										display: block;
								    	padding: 0!important;
										.small:first-child {
											img {
											    max-width: 25%;
											    max-height: 25%;
											    position: absolute;
											    left: 25%;
											    top: 25%;
											    transform: translate(-50%, -50%);
											    margin: initial;
											}
										}
										.small:last-child {
											img {
											    max-width: 25%;
											    max-height: 25%;
											    position: absolute;
											    left: 25%;
											    top: 75%;
											    transform: translate(-50%, -50%);
											    margin: initial;
											}
										}
										.medium:first-child {
											img {
											    max-width: 40%;
											    max-height: 40%;
											    position: absolute;
											    left: 25%;
											    top: 25%;
											    transform: translate(-50%, -50%);
											    margin: initial;
											}
										}
										.medium:last-child {
											img {
											    max-width: 40%;
											    max-height: 40%;
											    position: absolute;
											    left: 25%;
											    top: 75%;
											    transform: translate(-50%, -50%);
											    margin: initial;
											}
										}
										.full {
											width: 50%;
											&:last-child {
												top: 50%;
											}
											img {
												max-width: 50%;
												max-height: 50%;
											}
										}
										> div {
										    opacity: 1!important;
											height: 50%;
											width: inherit;
											text-align: center;
											display: table-row;
											vertical-align: middle;
											> div {
												display: table-cell;
												vertical-align: middle;
												img:hover + div {
													transition: opacity .5s linear;
													opacity: 1;
												}
												.captions-left {
													padding-left: 0;
													padding-right: 4px;
													width: 26.923%;
													right: 100%;
													min-width: 0;
													text-align: left;
													bottom: 0;
													> div {
														padding-right: 10px;
													}
												}
												.captions-right {
													padding-right: 0;
													padding-left: 0;
													width: 26.923%;
													left: 100%;
													min-width: 0;
													text-align: left;
													bottom: 0;
													> div {
														padding-left: 10px;
													}
												}
												> div {
													opacity: 0;
													> div {
														h5 {
															margin-bottom: 2px!important;
															font-size: 8px!important;
														}
														h6 {
															margin-bottom: 1px!important;
															font-size: 11px!important;
															line-height: 14px!important;
														}
														p {
															font-size: 10px!important;
															line-height: 13px!important;
														}
													}
												}
											}
										}
									}
								}
								.content-right {
									height: 100%;
									width: 100%;
									display: block;
									> div {
										height: inherit;
										width: inherit;
										display: block;
								    	padding: 0!important;
										.small:first-child {
											img {
											    max-width: 25%;
											    max-height: 25%;
											    position: absolute;
											    left: 75%;
											    top: 25%;
											    transform: translate(-50%, -50%);
											    margin: initial;
											}
										}
										.small:last-child {
											img {
											    max-width: 25%;
											    max-height: 25%;
											    position: absolute;
											    left: 75%;
											    top: 75%;
											    transform: translate(-50%, -50%);
											    margin: initial;
											}
										}
										.medium:first-child {
											img {
											    max-width: 40%;
											    max-height: 40%;
											    position: absolute;
											    left: 75%;
											    top: 25%;
											    transform: translate(-50%, -50%);
											    margin: initial;
											}
										}
										.medium:last-child {
											img {
											    max-width: 40%;
											    max-height: 40%;
											    position: absolute;
											    left: 75%;
											    top: 75%;
											    transform: translate(-50%, -50%);
											    margin: initial;
											}
										}
										.full {
											width: 50%;
											&:last-child {
												img {
													top: 50%;
												}
											}
											img {
												left: 50%;
												max-width: 50%;
												max-height: 50%;
											}
										}
										> div {
										    opacity: 1!important;
											height: 50%;
											width: inherit;
											text-align: center;
											display: table-row;
											vertical-align: middle;
											> div {
												display: table-cell;
												vertical-align: middle;
												img:hover + div {
													transition: opacity .5s linear;
													opacity: 1;
												}
												.captions-left {
													padding-left: 0;
													padding-right: 4px;
													width: 26.923%;
													right: 100%;
													min-width: 0;
													text-align: left;
													bottom: 0;
													> div {
														padding-right: 10px;
													}
												}
												.captions-right {
													padding-right: 0;
													padding-left: 0;
													width: 26.923%;
													left: 100%;
													min-width: 0;
													text-align: left;
													bottom: 0;
													> div {
														padding-left: 10px;
													}
												}
												> div {
													opacity: 0;
													> div {
														h5 {
															margin-bottom: 2px!important;
															font-size: 8px!important;
														}
														h6 {
															margin-bottom: 1px!important;
															font-size: 11px!important;
															line-height: 14px!important;
														}
														p {
															font-size: 10px!important;
															line-height: 13px!important;
														}
													}
												}
											}
										}
									}
								}
							}
							&.text {
								height: inherit;
								display: inline-block;
    							vertical-align: top;
								> div {
									padding: 0!important;
								    display: table;
								    height: inherit;
								    padding-left: 2.5vw!important;
								    padding-right: 1.5vw!important;
								    > div {
								    	display: table-cell;
								    	vertical-align: middle;
										padding: 0!important;
										h5 {
											font-size: 1.6vw;
											margin-bottom: .5vw;
										}
										p {
											font-size: 1.6vw;
    										line-height: 2.2vw;
											margin-bottom: 0;
										}
										:last-child {
											margin-bottom: 0;
										}
									}
								}
								.content-left, .content-right {
				   					> div {
										padding: 40px;
									}
								}
							}
							&.quote {
								height: inherit;
								> div {
									height: inherit;
								    display: table;
									> div {
										display: table-cell;
										vertical-align: middle;
										line-height: 2.2vw;
									    padding-left: 2.5vw !important;
									    padding-right: 1.5vw !important;
   										.quote-text, .quote-text p {
											font-family: Poly;
											font-style: italic;
											font-size: 2vw;
											line-height: 2.5vw;
											margin-bottom: 2vw;
										}
										.quote-author {
											font-family: Lato;
											font-weight: 900;
											font-size: 2vw;
										}
										.quote-source {
											font-family: Lato;
											font-style: italic;
											font-weight: 900;
											font-size: 2vw;
										}
										span {
											line-height: inherit;
											display: inline-block;
										}
									}
								}
							}
						}
					}
				}
				.book-nav {
					margin-top: 0;
					height: 40px;
					a {
						margin: 0!important;
					    margin: 0 !important;
					    padding: 14px 12px 15px;
					}
				}
			}
			&.lastpage {
				height: 100%;
				width: 100%;
				display: block!important;
				> div:not(.book-nav) {
					height: 100%;
					width: 40%;
					box-sizing: border-box;
					#book {
						height: 100%;
						display: table;
						width: 100%!important;
						position: relative;
						box-sizing: border-box;
						opacity: 0;
						transition: opacity .5s linear;
						> div {
							display: table-cell;
							vertical-align: middle;
							padding: 40px;
							text-align: center;
							p {
								font-size: 2vw;
								font-family: Poly;
								font-style: italic;
							}
						}
						> a {
						    position: absolute;
						    bottom: 10px;
						    left: 0;
						    right: 0;
						    text-align: center;
						}
					}
				}
				.book-nav {
					margin-top: 0;
					height: 40px;
					a {
						margin: 0!important;
					    margin: 0 !important;
					    padding: 14px 12px 15px;
					}
				}
			}
		}
	}
}

html {
	body.book-portrait {
		width: 100%;
		height: 100%;
		overflow: hidden;
		&:before {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			background: black;
			opacity: .75;
			z-index: 10;
			display: block;
		}
		&:after {
		    content: 'Please Turn Your Device Sideways';
		    color: white;
		    z-index: 11;
		    position: absolute;
		    left: 50%;
		    top: 50%;
		    transform: translate(-50%, -50%);
		    text-align: center;
		    width: 50%;
			font-family: Poly;
			font-style: italic;
			font-size: 22px;
			line-height: 28px;
			font-weight: 400; 
		}
		#app {
			#container.grayheader {
				header#main_header {
					opacity: 1!important;
					z-index: 12;
					.logo {
						a {
							img {
								-webkit-filter: invert(100%);
								filter: invert(100%);
							}
						}
					}
				}
			}
		}
	}
}