body {
	margin: 0;
	#app {
		.container {
			max-width: 1440px;
			display: block;
			margin: 0 auto;
			min-width: 1024px;
			&.grayheader {
				#main_header {
					opacity: .2!important;
				}
			}
			.content:not(.book) {
				height: 465px;
				/*
				@media only screen and (max-width: 809px) {
					margin-top: 40px;
					width: 280px;
				}
				@media only screen and (max-width: 399px) {
					padding: 0 20px 120px;
				}
				*/
			}
			.content {
				display: table;
				margin: 0 auto;
				position: relative;
				margin-top: -47px;
				padding-bottom: 120px;
				transition: opacity .05s linear;
				@media only screen and (max-width: 1124px) {
					margin-top: 30px;
				}
			}
		}
	}
}

h2 {
	font-family: Lato;
	font-size: 28px;
	font-weight: 900;
	line-height: 32px;
}

h3 {
	font-family: Lato;
	font-size: 18px;
	font-weight: 900;
	line-height: 24px;
	margin-top: 0;
	margin-bottom: 25px;
}

h5 {
	margin-top: 0;
	font-family: Lato;
	font-size: 10px;
	color: #bbb;
	font-weight: 900;
	margin-bottom: 5px;
	text-transform: uppercase;
}

h6 {
	font-size: 13px;
	line-height: 17px;
	font-family: Lato;
	font-weight: 900;
	margin: 0 0 8px 0;
}

p {
	font-family: Poly;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	margin-top: 0;
	margin-bottom: 20px;
}

a {
	text-decoration: none;
}

img {
	vertical-align: bottom;
}
