.container {
    header {
        position: relative;
        max-width: 1440px;
        width: 100%;
        min-width: 320px;
        top: 0;
        opacity: 0;
        transition: opacity .5s linear;
        height: 123px;
        .logo {
            display: inline-block;
            margin: 25px 0 0 30px;
            img {
                width: 114px;
            }
        }
        nav {
            float: right;
            margin: 20px 50px 0 0;
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                font-size: 0;
                li {
                    display: inline-block;
                    margin-left: 14px;
                    a {
                        font-family: Lato;
                        color: black;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-weight: 900;
                        font-size: 12px;
                    }
                }
                li:first-child {
                    margin-left: 0;
                }
                .fa {
                    &:before {
                        vertical-align: middle;
                    }
                }
                .social-first {
                    margin-left: 20px;
                }
            }
        }
    }
}

/*
.container:not(.desktop) {
    header {
        @media only screen and (min-width: 810px) {
            height: 127px;
        }
        @media only screen and (max-width: 809px) {
            height: 72px;
        }
        .logo {
            @media only screen and (max-width: 809px) {
                margin: 16px 0 0 17px;
            }
            img {
                @media only screen and (max-width: 809px) {
                    width: 60px;
                }
            }
        }
        nav {
            @media only screen and (max-width: 809px) {
                margin: 16px 14px 0 0;
            }
            ul {
                li {
                    @media only screen and (max-width: 479px) {
                        margin-left: 10px;
                    }
                    a {
                        @media only screen and (max-width: 479px) {
                            font-size: 10px;
                        }
                    }
                }
                .social-first {
                    @media only screen and (max-width: 479px) {
                        margin-left: 16px;
                    }
                }
            }
        }
    }
}
*/