.container {
    header {
        position: relative;
        max-width: 1440px;
        width: 100%;
        min-width: 320px;
        top: 0;
        opacity: 0;
        transition: opacity .5s linear;
        height: 123px;
        .logo {
            display: inline-block;
            margin: 5px 0 0 10px;
            a {
                display: block;
                padding: 20px;
                img {
                    width: 114px;
                }
            }
        }
        nav {
            float: right;
            margin: 10px 42px 0 0;
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                font-size: 0;
                li {
                    display: inline-block;
                    //margin-left: 14px;
                    a {
                        font-family: Lato;
                        color: black;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-weight: 900;
                        font-size: 12px;
                        padding: 10px 7.5px;
                        display: block;
                    }
                }
                li:first-child {
                    margin-left: 0;
                }
                .fa {
                    &:before {
                        vertical-align: middle;
                    }
                }
                .social-first {
                    margin-left: 5px;
                }
                .social {
                    //margin-left: 14px;
                    a {
                        padding: 7px;
                    }
                }
            }
        }
    }
    &.mobile {
        min-width: 320px!important;
        header {
            height: 72px;
            .logo {
                margin: 8px 0 0 8px;
                a {
                    padding: 10px;
                    img {
                        width: 60px;
                    }
                }
            }
            nav {
                margin: 8px 14px 0 0;
                ul {
                    li {
                        //margin-left: 10px;
                        a {
                            font-size: 11px;
                            padding: 10px 5px;
                        }
                    }
                    .social-first {
                        margin-left: 5px;
                    }
                    .social {
                        //margin-left: 14px;
                        a {
                            padding: 7px;
                        }
                    }
                }
            }
        }
    }
}

.mobile.portrait {
    .nav {
        bottom: -45px!important;
        .nav-item {
            .nav-link {
                padding-top: 20px;
                margin-right: 0!important;
                &:after {
                    right: 10px;
                }
            }
        }
    }
}

.mobile.landscape {
    header {
        position: absolute;
        z-index: 1;
        .logo {
            display: none;
        }
    }
    &.grayheader {
        header {
            display: none;
        }   
    }
    .nav {
        bottom: -10px!important;
        .nav-item {
            .nav-link {
                padding-top: 20px;
                margin-right: 0!important;
                &:after {
                    right: 10px;
                }
            }
        }
    }
}